body {
        background-image: url(https://www.itl.cat/pngfile/big/2-23422_blur-background-resolution-hd-4k-wallpapers-abstract-blue.jpg);
    
        background-repeat: no-repeat;
        background-position:center;
        background-attachment: fixed;
        background-size:cover;
        
        color: white;
        font-family:arial;
        font-size: 18px;
    
       }
h1 {
    margin-left: auto;
}
p{
    margin-left: auto;
}

h2, h3{
       color:greenyellow;
        margin-left: 190px;
       }

ul, li{
    margin-left: 140px;
    background-color: black;

}


footer{
    background-color: black;
    color:white;
    text-underline-position: alphabetic;
    padding-left: 650px;
}



